/* Margin to offset fixed sidebar */
.dashboard-container {
  padding-top: 1rem;
}

/* Remove left margin on mobile */
@media (max-width: 767.98px) {
  .dashboard-container {
    margin-left: 0;
  }
}

.card {
  background-color: #ffffff;
}

input.form-control,
select.form-select {
  min-width: 200px;
}

@media (max-width: 576px) {
  input.form-control,
  select.form-select {
    width: 100%;
  }
}
